langgraph
langchain-core
langchain-anthropic
langchain-google-genai
python-dotenv
pydantic
fastmcp
langchain-mcp-adapters
requests
beautifulsoup4
lxml
pinecone
cohere
langchain-pinecone
langchain-text-splitters
langchain-google-genai
langchain-cohere
tenacity==<9.1.4>